/* 全体のページコンテナ */
.pageContainer {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  background-color: #f4f4f4;
  max-width: 100%; 
  margin-right: 320px;
}

/* コンテンツエリア */
.content {
  position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width: 75%;
    margin-left: 13%;
}

/* タイトルのスタイル */
.title {
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px; 
  font-weight: bold;
  padding-bottom: 10px; 
  position: relative;
}

/* タイトル下の下線 */
.title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #a6a6a6; 
  position: absolute;
  left: 0;
  bottom: 0; /* タイトルの下端に合わせる */
  width: 100%; /* タイトル幅に合わせる */
}

/* 記事画像のスタイル */
.image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* タグのスタイル */
.tags {
  margin-top: 20px;
}

.tag {
  display: inline-block;
  background-color: #0070f3;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.875rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* リンクのスタイル */
.url {
  margin-top: 20px;
}

.url a {
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.url a:hover {
  text-decoration: underline;
}

/* エラーメッセージのスタイル */
.error {
  color: red;
  font-size: 1.125rem;
}