.container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    padding-right: 343px;
    padding-left: 20px;
    flex-direction: column;
}

/* 横並び */
.box01 {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* アイコンとタイトルが同じ位置に配置されるように調整 */
    margin-bottom: 15px;
}

/* 横並び */
.iconnemeset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: 16px;
}

/* 投稿のタイトル */
.title {
    font-size: 30px;
    position: relative;
    margin-bottom: 20px; /* タイトルの下の余白を追加 */
    font-weight: bold;
}

.title::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #a6a6a6; 
    position: absolute;
    left: 0;
    bottom: -10px; 
    width: 100%;
}

.post {
    position: relative; /* 位置を相対的にすることで、投稿日を絶対位置に配置できるようにします */
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1)  0px 4px 8px;
    display: flex;
    flex-direction: row; /* 横並びに配置 */
    align-items: center;
    padding: 15px;
    height: 300px; /* 高さを指定（例: 300px） */
    padding-top: 34px;
}

.tag {
    display: inline-block;
    background-color: #f1eaea;
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.tag:hover {
    background-color: #cacaca;
    border-color: #999;
}

.icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 5px; /* アイコンとユーザー名の間のスペース */
}

.imageContainer {
    width: 300px; /* 枠の幅を指定 */
    height: 200px; /* 枠の高さを指定 */
    overflow: hidden; /* 枠からはみ出した部分を隠す */
    border-radius: 8px; /* 角を丸くする */
    background-color: #f4f4f4; /* 枠の背景色 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 300px;
    max-height: 100%;
    object-fit: cover; /* 画像が枠に合うように表示 */
    border-radius: 8px;
    margin-right: 34px;
}

.username {
    margin: 0;
    font-weight: bold;
}

.posttitle {
    margin-top: 5px;
    font-size: 31px;
    color: #427be2;
    cursor: pointer;
    margin-right: 34px;
}

.posttitle:hover {
    color: #2059c4;
}

.content {
    margin: 5px;
    margin-top: 15px;
}

.sub_box {
    display: flex;
    flex-direction: column;
}

.postdate {
    position: absolute; 
    top: 15px; 
    right: 15px; 
    background-color: #f9f9f9; 
    padding: 5px;
    border-radius: 4px; 
    font-size: 14px; 
}

.favoriteButton {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .favoriteIcon01 {
    font-size: 41px;
    transition: color 0.75s ease;
    color: #ff5890;
    position: absolute;
    right: 10px;
    bottom: 15px;
    border: 2px solid #aaa;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
  }
  
  .favoriteIcon02 {
    font-size: 41px;
    transition: color 0.75s ease;
    color: #cacaca;
    position: absolute;
    right: 10px;
    bottom: 15px;
    border: 2px solid #aaa;
    border-radius: 50%;
    padding: 5px; 
    background-color: #fff; 
  }

  .favoriteIcon02:hover {
    color: #ff5890;
  }

  .deleteButton {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .deleteIcon {
    font-size: 1.5em;
    color: #e74c3c;
    transition: color 0.3s ease;
  }
  
  .deleteButton:hover .deleteIcon {
    color: #c0392b;
  }

  /* メディアクエリ: スマホサイズ (幅が844px以下の場合) */
@media (max-width: 844px) {
    .container {
        padding-right: 0;
    }
    
    .post {
        flex-direction: column; /* モバイルビューでは縦並び */
        align-items: flex-start;
        height: auto; /* 高さの自動調整 */
        margin-right: 15px;
    }
    
    .box01 {
        flex-direction: column; /* アイコンとタイトルの縦並び */
        width: 100%;
    }
    
    .iconnemeset {
        margin-left: 0; /* モバイルビューではマージンを削除 */
        margin-top: 10px;
    }
    
    .posttitle {
        font-size: 20px; /* タイトルのフォントサイズを小さくする */
    }
    
    .image {
        max-width: 100%; /* 画像の最大幅を100%に設定 */
        height: auto; /* 高さを自動に設定 */
    }

    .title::after {
        width: 95%;
    }
}