.container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    padding-right: 343px;
    padding-left: 20px;
    flex-direction: column;
}

/* 横並び */
.box01 {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* アイコンとタイトルが同じ位置に配置されるように調整 */
    margin-bottom: 15px;
}

/* 横並び */
.iconnemeset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: 16px;
}

/* 投稿のタイトル */
.title {
    font-size: 30px;
    position: relative;
    margin-bottom: 20px; /* タイトルの下の余白を追加 */
    font-weight: bold;
}

.title::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #a6a6a6; 
    position: absolute;
    left: 0;
    bottom: -10px; 
    width: 100%;
}

.post {
    position: relative; /* 位置を相対的にすることで、投稿日を絶対位置に配置できるようにします */
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1)  0px 4px 8px;
    display: flex;
    flex-direction: row; /* 横並びに配置 */
    align-items: center;
    padding: 15px;
    height: 300px; /* 高さを指定（例: 300px） */
    padding-top: 34px;
}

.tag {
    display: inline-block;
    background-color: #f1eaea;
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.tag:hover {
    background-color: #cacaca;
    border-color: #999;
}

.icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 5px; /* アイコンとユーザー名の間のスペース */
}

.image {
    max-width: 30%;
    height: 100%; /* 投稿の高さに合わせる */
    object-fit: cover; /* 画像が枠に合わせてカバーする */
    border-radius: 8px;
    margin-right: 15px;
}

.username {
    margin: 0;
    font-weight: bold;
}

.posttitle {
    margin-top: 5px;
    font-size: 31px;
    color: #427be2;
    cursor: pointer;
    margin-right: 34px;
}

.posttitle:hover {
    color: #2059c4;
}

.content {
    margin: 5px;
    margin-top: 15px;
}

.sub_box {
    display: flex;
    flex-direction: column;
}

.postdate {
    position: absolute; 
    top: 15px; 
    right: 15px; 
    background-color: #f9f9f9; 
    padding: 5px;
    border-radius: 4px; 
    font-size: 14px; 
}

.favoriteButton {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .favoriteIcon01 {
    font-size: 41px;
    transition: color 0.75s ease;
    color: #ff5890;
    position: absolute;
    right: 10px;
    bottom: 15px;
    border: 2px solid #aaa;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
  }
  
  .favoriteIcon02 {
    font-size: 41px;
    transition: color 0.75s ease;
    color: #cacaca;
    position: absolute;
    right: 10px;
    bottom: 15px;
    border: 2px solid #aaa;
    border-radius: 50%;
    padding: 5px; 
    background-color: #fff; 
  }

  .favoriteIcon02:hover {
    color: #ff5890;
  }

